<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/"> </ion-back-button>
    </ion-button>
    <ion-title>registerchauffeur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #form="ngForm" (ngSubmit)="registerchauffer(form.value)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col  size-md="6" size-lg="5" size-xs="12">
          <div>
            <h3>Create Driver!</h3>
          </div>
          <div>
            <ion-item>
              <ion-input  name="nomchauffeur" type="text" placeholder="Nom chauffeur" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="permis" type="text" placeholder="permis" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>date Delivrance Assurance</ion-label>
              <ion-input name="datedelivrance" type="date" placeholder="date Delivrance Assurance" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>date Expire Assurance</ion-label>
              <ion-input name="dateexpire" type="date" placeholder="date Expire Assurance" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Date Expriration SCDP</ion-label>
              <ion-input name="dateexprirationscdp" type="date" placeholder="Date Expriration SCDP" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="phone" type="tel" placeholder="Phone " ngModel required></ion-input>
            </ion-item>
          </div>
          <div>
            <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
