<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/"> </ion-back-button>
    </ion-button>
    <ion-title>registertransporteur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #form="ngForm" (ngSubmit)="register(form.value)">
    <ion-grid>
      <ion-row color="primary">
        <ion-col>
          <div>
            <h3>Save Transporteur!</h3>
          </div>
          <div>
            <ion-item>
              <ion-input  name="nomtransporteur" type="text" placeholder="Nom Transporteur" ngModel required></ion-input>
            </ion-item>
          </div>
          <div>
            <ion-button  size="large" type="submit" expand="block" [disabled]="form.invalid" expand="block">Register</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
