<ion-header>
  <ion-toolbar>
    <ion-title>fleetmanager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
         <ion-button (click)="GoToAddTransporteur()">Add Transporteur</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button (click)="AllTransporteur()">See Transporteurs</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button (click)="AllVehicule()">See Vehicule</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
