<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/"> </ion-back-button>
    </ion-button>
    <ion-title>fleetmanager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item-group *ngIf="viewchecklist">
    <ion-button expand="block" (click)="AddChecklist()">Ajouter Questions</ion-button>
    <ion-button expand="block" (click)="GoToGereTransporteur()">Gerer</ion-button>
    <ion-button expand="block"  (click)="GoToViewChecklist()">View ChechList</ion-button>
    <ion-button expand="block"  (click)="GoToUpdateQuestionnaire()">Update Question</ion-button>
</ion-item-group>
    <ion-card-content *ngIf="!viewchecklist">
        <ion-item-group *ngFor="let c of fleetcheckfleet.listchecklis">
            <ion-label>Matricule vehicule: <strong>{{c.vehicules.matricule}}</strong></ion-label>
            <ion-label>Status: <strong>{{c.status}}</strong></ion-label>
            <ion-label>Note: <strong>{{c.note}}</strong></ion-label>
        </ion-item-group>
    </ion-card-content>
</ion-content>
