<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/"> </ion-back-button>
    </ion-button>
    <ion-title>listtransportuer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-subtitle>
    <ion-button (click)="addtransporteur()">Ajouter Transporteur</ion-button>
  </ion-card-subtitle>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Liste Transporteur</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let t of fleetservice.listtransporteur">
        <ion-item (click)="GoToTransporte(t)">
          <ion-card-content>
            <ion-label>Nom Transporteur: <strong>{{t.nomtransporteur}}</strong> </ion-label>
          </ion-card-content>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
