<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/"> </ion-back-button>
    </ion-button>
    <ion-title>dispatcher</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card >
    <ion-card-content>
      <ion-item-group *ngFor="let c of fleetchecklisdispa.listchecklis">
          <ion-label>Matricule vehicule: <strong>{{c.vehicules.matricule}}</strong></ion-label>
          <ion-label>Status: <strong>{{c.status}}</strong></ion-label>
          <ion-label>Note: <strong>{{c.note}}</strong></ion-label>
      </ion-item-group>
  </ion-card-content>

  </ion-card>
</ion-content>
