<ion-header>
  <ion-toolbar>
    <ion-title>dispatcher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='summary_row'>
    <div  class='summarycell'>Matricule Vehicule</div>
    <div  class='summarycell'>Status</div>
    <div  class='summarycell'>Note</div>

  </div>
  <div  class='summary_row' *ngFor="let c of fleetchecklisdispa.listchecklis">
    <div  class='summarycell'>
      {{c.vehicules.matricule}}
    </div>
    <div  class='summarycell'>
      {{c.status}}
    </div>
    <div  class='summarycell'>
      {{c.note}}
    </div>
  </div>
</ion-content>
