<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/"> </ion-back-button>
    </ion-button>
    <ion-title>transporteur: {{fleelservicetra.transporteur.nomtransporteur}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="loginservice.is_truck">
        <div class="ion-text-start">
          <ion-button (click)="AddVehicule()">Add Vehicule</ion-button>
        </div>
        <div class="ion-text-start">
          <ion-button (click)="AddChauffeur()">Add Chauffeur</ion-button>
        </div>
        <div class="ion-text-start">
          <ion-button (click)="UpdateTransporteur()">Update Transporteur</ion-button>
        </div>
  </ion-grid>

  <ion-card *ngIf="!loginservice.is_truck">
    <ion-card-title>
      <ion-label>liste des vehicules </ion-label>
    </ion-card-title>
    <ion-card-content *ngFor="let v of fleelservicetra.transporteur.vehiculesList">
      <ion-item (click)="GotoChauffeur(v)">
        <ion-label>{{v.matricule}}</ion-label>
        <ion-label>{{v.expirationassurance}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
